/* Reset some default styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #333;
    height: 100vh;
    width: 100vw; /* Full width */
    overflow: hidden; /* Hide scrollbars on the body */
}

/* Container for centering the chessboard */
.chessboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 120px); /* Adjust according to header/footer height */
}

/* Wrapper for the chessboard to ensure proper alignment and spacing */
.chessboard-wrapper {
    width: 550px; /* Adjust to your desired size */
    height: 550px; /* Adjust to your desired size */
    border: 2px solid #fbfbfb;
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Drop shadow */
    background-color: #fff; /* White background for the board */
}

/* Chessboard styles */
.chessboard {
    width: 100%;
    height: 100%;
    border-radius: 8px; /* Rounded corners */
}

/* Chessboard square styles */
.chessboard .react-chessboard__square {
    width: 12.5%; /* 8x8 grid, each square is 12.5% of the board */
    height: 12.5%; /* 8x8 grid, each square is 12.5% of the board */
    box-sizing: border-box;
}

/* Alternating square colors to match Chess.com style */
.chessboard .react-chessboard__square:nth-child(even) {
    background-color: #f0d9b5; /* Light square color similar to Chess.com */
}

.chessboard .react-chessboard__square:nth-child(odd) {
    background-color: #b58863; /* Dark square color similar to Chess.com */
}

/* Highlighting moves (e.g., green squares) */
.chessboard .react-chessboard__square.highlighted {
    background-color: rgba(0, 255, 0, 0.3); /* Light green highlight */
}

/* Piece styles (if necessary) */
.chess-piece {
    font-size: 24px; /* Adjust piece size */
    text-align: center;
    line-height: 1.5;
    color: #333; /* Default piece color */
}

/* Error message styles */
.error-message {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    z-index: 1000; /* Ensure it appears above other elements */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Drop shadow */
}

/* Game state styles */
.game-state {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #d7f8f2;
    color: #0a002d;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    z-index: 2; /* Ensure it appears above other elements */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Drop shadow */
}
